<div class="container">
	<div class="row">
		<div class="col">
			<h2>User - Add</h2>
			<form method="post" action="/user-add">
				<div class="mb-3">
					<label for="txtFName" class="form-label">First Name</label>
					<input type="text" required="required" class="form-control" id="txtFName" name="txtFName">
				</div>
				<div class="mb-3">
					<label for="txtLName" class="form-label">Last Name</label>
					<input type="text" required="required" class="form-control" id="txtLName" name="txtLName">
				</div>
				<button type="submit" class="btn btn-primary">Add</button>
			</form>		
		</div>
	</div>
</div>